[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-scaffold-rasterization"]
	path = submodules/diff-scaffold-rasterization
	url = https://github.com/brian-xu/diff-scaffold-rasterization.git
	branch = master
